
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

@{
    var chart = new Chart(width: 500, height: 500);
    chart.AddTitle(text: "Categories and Product number");
    chart.AddLegend(title: "Values");
    chart.AddSeries(
        name: "Data",
        chartType:"Pie",
        xValue: new [] { "Fridge" , "Small Appliances", "Computer", "Phone" },
        yValues: new[] {500,250,340,620}
        );
    chart.Write();
}
