
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div>
    @using(Html.BeginForm("Index", "QR", FormMethod.Post))
            {
                <input type="text" name="code"/>
                <input type="submit" value="Generate QR"/>

            }
    @if (ViewBag.qrcodeimg !=null)
    {
        <img src="@ViewBag.qrcodeimg" alt="" style="width:400px; height:400px;"/>
    }
</div>
